:root {
  --gold: #986f16;
  --gold-light: #c49a2a;
  --cream: #f7f7f7f8;
  --cream-warm: #e0ddd8;
  --slate: #212329;
  --text: #1e2028;
  --muted: #4a4540;
  --slate-muted: #9ba3b0;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
  color: var(--text);
  background: var(--cream);
}

h1, h2, h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}