.home-section {
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	min-width: 60vh;
	margin: 23px;
}

.home-text {
	color: var(--slate);
	font-size: clamp(1.25rem, 2vw, 1.75rem);
  	font-weight: 400;
	padding-bottom: 50px;
}

.home-subtitle {
	color: var(--gold);
	text-transform: uppercase;
	letter-spacing: .15rem;
}

.home-photo img {
	border-radius: 18px;
	border: 3px solid var(--gold);
	box-shadow: 0px 4px 10px rgba(95, 82, 50, 0.5) ;
}

.home-location {
	color: var(--slate-muted);
	font-size: 1.2rem;
	padding: 0;
}